# Backend
# For local development with Docker Compose:
# DATABASE_URL=postgresql://postgres:password@db:5432/salary_dev
# For Render.com deployment:
DATABASE_URL=postgresql://test_salary_managment_user:9ziLuCCkku3SV9GrOPPPbgZU5hwb0VVO@dpg-d7g6fit7vvec73elh1jg-a.virginia-postgres.render.com/test_salary_managment
RAILS_ENV=production
RAILS_MASTER_KEY=
CORS_ORIGIN=https://your-frontend-url.onrender.com

# Frontend
VITE_API_URL=https://your-backend-url.onrender.com
