# Backend
# For local development with Docker Compose:
# DATABASE_URL=postgresql://postgres:password@db:5432/salary_dev
# For Render.com deployment:
DATABASE_URL=postgresql://test_salary_managment_user:9ziLuCCkku3SV9GrOPPPbgZU5hwb0VVO@dpg-d7g6fit7vvec73elh1jg-a/test_salary_managment
RAILS_ENV=production
SECRET_KEY_BASE=b89cc03fe08d7829a94597030b8dbc28b8ef740f64e66afd784228f3f68ab3cccd8708f123c38c64c9c160c49569e3c5c2ca66f11896cf638210f6a221b7a66a
RAILS_MASTER_KEY=
CORS_ORIGIN=https://salary-management-assessment.onrender.com

# Frontend
VITE_API_URL=https://salary-management-assessment.onrender.com
