# Backend
# For local development with Docker Compose:
# DATABASE_URL=postgresql://postgres:password@db:5432/salary_dev
# For Render.com deployment:
DATABASE_URL=postgresql://test_salary_managment_user:9ziLuCCkku3SV9GrOPPPbgZU5hwb0VVO@dpg-d7g6fit7vvec73elh1jg-a/test_salary_managment
RAILS_ENV=production
# Rails encrypted credentials now provide secret_key_base.
RAILS_MASTER_KEY=
CORS_ORIGIN=https://salary-management-assessment.onrender.com
